body {
  background-color: #000000;
}
.container {
  &__form {
    span {
      color: orange;
      margin-left: 15%;
    }
    &__input {
      display: flex;
      justify-content: center;

      input,
      textarea {
        height: 50px;
        width: 70%;
        margin: 5px 0;

        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        border: 2px orange solid;
        padding: 5px;
        border-radius: 15px;
        outline: none;
      }
    }
  }
  button,
  input,
  textarea {
    outline: none;
    background-color: #000000;
    border: 1px orange solid;
    color: orange;
  }
  table {
    border: 1px orange solid;
  }
  .row {
    display: flex;
    justify-content: center;
    button {
      margin-top: 15px;
      height: 45px;
      width: 500px;
      color: #000000;
      background-color: orange;
      border: 1px orangered solid;
      transition: all 0.5s;
      &:hover {
        background-color: #000000;
        color: orange;
      }
    }
  }
  .findproduct {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    input {
      width: 45%;
      height: 35px;
      padding: 15px;
    }
  }
  .table {
    table {
      color: orange;
    }
    th {
      border: 1px orange solid;
    }
    td {
      border: 1px orange solid;
    }
    tr {
      border: 1px orange solid;
    }
  }
}
